* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e3dcc7;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Kobe", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100px;
  color: #6d6458;
}

.site-menu {
  display: flex;
}

.menu-item {
  margin-left: 60px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
  width: 400px;
  height: 300px;
}

.block {
  position: absolute;
  width: 100%;
  height: 100%;
}

.b-1 {
  background: url("./images/image-one.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-2 {
  background: url("./images/image-two.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-3 {
  background: url("./images/image-three.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-4 {
  background: url("./images/image-four.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-5 {
  background: url("./images/image-five.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-6 {
  background: url("./images/image-six.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.b-7 {
  background: url("./images/image-seven.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 50vh;
  bottom: -10rem;
  background: #e3dcc7;
}

.title {
  margin-top: 20rem;
  text-align: center;
  font-family: "Canopee";
  font-size: 10em;
  color: #393833;
  overflow: hidden;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}
